
.footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    padding: 32px 52px 14px 52px;
    height: 193px;
    background: var(--black);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--white);
    padding-bottom: 20px;
}

.footer__1 {
    display: flex;
    justify-content: space-between;
}

.footer__2 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}


.footer__socials-link:hover path{
fill: var(--orange);
}