.footer__inner {
    display: flex;

    border-radius: 12px;
    padding: 32px 52px 14px 52px;
    height: 193px;
    background: var(--black);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--white);
    padding-bottom: 20px;
}

.footer__1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 786px;
    height: 147px;
}

.footer__2 {
    display: flex;

    justify-content: space-between;
    font-size: 14px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 486px;
    height: 147px;
}
.footer__logo img{
    width: 54px;
    height: 30px;
}
.footer__socials {
    z-index: 11;
}
.header__socials {
    margin-top: 102px;
    z-index: 11;
}
.header__socials path{
fill: var(--orange);
}
.header__socials rect{
stroke: var(--orange);
}
.footer__socials-link:hover path {
    fill: var(--orange);
}

.footer__contact {
    display: flex;
    flex-direction: column;
}

.footer__11 {
    display: flex;
    justify-content: space-between;
}