.new-pass__in {
    display: flex;
    flex-direction: column;
    width: 472px;
    height: 114px;
    margin-bottom: 48px;
    gap: 16px;
}

.new-pass__in input:not([type="radio"]) {
    border: 0.50px solid var(--gary);
    border-radius: 200px;
    padding: 14px 16px;
    width: 472px;
    height: 49px;
    background: var(--white);
}

.new-pass__in input::placeholder {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #999;
}



.input-container {
    position: relative;
    width: 472px; /* Ширина контейнера, совпадает с шириной инпута */
}

.input-container input {
    width: 100%; /* Устанавливаем ширину в 100% контейнера */
    border: 0.50px solid var(--gary);
    border-radius: 200px;
    padding: 14px 16px;
    height: 49px;
    background: var(--white);
    box-sizing: border-box; /* Для учета padding */
}

.img-password {
    position: absolute;
    right: 20px; /* Отодвигаем иконку от правого края инпута */
    top: 50%; /* Центрируем иконку по вертикали */
    transform: translateY(-50%); /* Регулируем центрирование */
    cursor: pointer; /* Делает иконку интерактивной */
    /* Возможно изменение размера иконки для лучшего внешнего вида */
    width: 20px; /* Пример ширины; настройте по вашему усмотрению */
    height: 20px; /* Пример высоты; настройте по вашему усмотрению */
}
