@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";
@import "footer.css";
@import "about.css";
@import "tastes.css";
@import "single-item.css";
@import "packages.css";
@import "cart.css";
@import "checkout.css";
@import "ty.css";
@import "personal.css";
@import "wishlist.css";
@import "orders.css";
@import "create-account.css";
@import "sign-in.css";
@import "forget.css";
@import "forget-code.css";
@import "new-password.css";
@import "privacy.css";
@import "404.css";



@keyframes move1 {
    0% {
        bottom: -10%;
        left: -10%;
        rotate: 40deg;
    }

    25% {
        bottom: -10%;
        left: 10%;
        rotate: 60deg;
    }

    50% {
        bottom: -10%;
        left: 30%;
        rotate: 90deg;
    }

    75% {
        bottom: -10%;
        left: 40%;
        rotate: 120deg;
    }

    100% {
        bottom: -10%;
        left: 50%;
        rotate: 140deg;
    }
}

@keyframes move2 {
    0% {
        top: 47px;
        left: 10%;
        rotate: 0deg;
    }

    25% {
        top: 47px;
        left: 38%;
        rotate: 30deg;
    }

    50% {
        top: 47px;
        left: 65%;
        rotate: 60deg;
    }

    75% {
        top: 47px;
        left: 80%;
        rotate: 90deg;
    }

    100% {
        top: 47px;
        left: 90%;
        rotate: 120deg;
    }
}

@keyframes move3 {
    0% {
        right: 153px;
        bottom: 20px;
        rotate: 0deg;
    }

    25% {
        right: 153px;
        bottom: 52px;
        rotate: 30deg;
    }

    50% {
        right: 153px;
        bottom: 100px;
        rotate: 60deg;
    }

    75% {
        right: 153px;
        bottom: 130px;
        rotate: 90deg;
    }

    100% {
        right: 153px;
        bottom: 150px;
        rotate: 120deg;
    }
}

@keyframes move4 {
    0% {
        top: 44px;
        right: 10px;
        rotate: 0deg;
    }

    25% {
        top: 44px;
        right: 80px;
        rotate: 30deg;
    }

    50% {
        top: 44px;
        right: 150px;
        rotate: 60deg;
    }

    75% {
        top: 44px;
        right: 200px;
        rotate: 90deg;
    }

    100% {
        top: 44px;
        right: 250px;
        rotate: 120deg;
    }
}

@keyframes move5 {
    0% {
        bottom: 21%;
        right: 10%;
        rotate: 0deg;
    }

    25% {
        bottom: 21%;
        right: 47%;
        rotate: 30deg;
    }

    50% {
        bottom: 21%;
        right: 80%;
        rotate: 60deg;
    }

    75% {
        bottom: 21%;
        right: 90%;
        rotate: 90deg;
    }

    100% {
        bottom: 21%;
        right: 95%;
        rotate: 120deg;
    }
}

@keyframes move6 {
    0% {
        left: 0;
        bottom: 10%;
        rotate: 0deg;
    }

    25% {
        left: 0;
        bottom: 30%;
        rotate: 30deg;
    }

    50% {
        left: 0;
        bottom: 50%;
        rotate: 60deg;
    }

    75% {
        left: 0;
        bottom: 70%;
        rotate: 90deg;
    }

    100% {
        left: 0;
        bottom: 90%;
        rotate: 120deg;
    }
}

@keyframes move7 {
    0% {
        top: 26%;
        right: 10px;
        rotate: 0deg;
    }

    25% {
        top: 26%;
        right: 45px;
        rotate: 30deg;
    }

    50% {
        top: 26%;
        right: 80px;
        rotate: 60deg;
    }

    75% {
        top: 26%;
        right: 120px;
        rotate: 90deg;
    }

    100% {
        top: 26%;
        right: 150px;
        rotate: 120deg;
    }
}
@keyframes move8 {
    0% {
        bottom: 0;
        right: 0;
        rotate: 0deg;
    }

    25% {
        bottom: 26%;
        right: 45px;
        rotate: 30deg;
    }

    50% {
        bottom: 30%;
        right: 80px;
        rotate: 60deg;
    }

    75% {
        bottom: 36%;
        right: 120px;
        rotate: 90deg;
    }

    100% {
        bottom: 45%;
        right: 170px;
        rotate: 120deg;
    }
}
@keyframes move9 {
    0% {
        top: 0;
        left: 0;
        rotate: 0deg;
    }

    25% {
        top: 26%;
        left: 45px;
        rotate: 30deg;
    }

    50% {
        top: 26%;
        left: 80px;
        rotate: 60deg;
    }

    75% {
        top: 26%;
        left: 120px;
        rotate: 90deg;
    }

    100% {
        top: 26%;
        left: 150px;
        rotate: 120deg;
    }
}


.burger__menu {
    display: none;
    align-items: center;
    border: 1px solid var(--orange);
    border-radius: 8px;
    padding-left: 10px;
    width: 40px;
    height: 40px;
}

.hero {
    position: relative;
    border-radius: 16px;
    padding: 112px 243px 169px 72px;
    width: 1400px;
    height: 600px;
    background: var(--white);
    overflow: hidden;
    margin-bottom: 20px;
}

.hero .image8 {
    position: absolute;
    content: url("../img/decor/apelsinleft.png");
    bottom: 0;
    right: 0;
}
.hero .image9 {
    position: absolute;
    content: url("../img/decor/apelsinleft.png");
    top: 0;
    left: 0;
}

.hero:hover .image8 {
    animation: move8 15s linear infinite;
}
.hero:hover .image9 {
    animation: move9 15s linear infinite;
}


.hero .image1 {
    position: absolute;
    content: url("../img/decor/lime.png");
    bottom: -10%;
    left: 30%;
}


.hero .image2 {
    position: absolute;
    content: url("../img/decor/ezhevika.png");
    top: 47px;
    left: 38%;
}

.hero .image3 {
    position: absolute;
    content: url("../img/decor/malina.png");
    right: 153px;
    bottom: 52px;
    z-index: 1;
}

.hero:hover .image1:nth-child(1) {
    animation: move1 15s linear infinite;
}

.hero:hover .image2:nth-child(2) {
    animation: move2 15s linear infinite;
}

.hero:hover .image3:nth-child(3) {
    animation: move3 15s linear infinite;
}

.hero:hover .image4:nth-child(4) {
    animation: move4 15s linear infinite;
}

.hero:hover .image5:nth-child(5) {
    animation: move5 15s linear infinite;
}

.hero:hover .image6:nth-child(6) {
    animation: move6 15s linear infinite;
}

.hero:hover .image7:nth-child(7) {
    animation: move7 15s linear infinite;
}

.hero .image4 {
    position: absolute;
    content: url("../img/decor/golubika.png");
    top: 44px;
    right: 80px;
}

.hero .image5 {
    position: absolute;
    content: url("../img/decor/golubika.png");
    bottom: 21%;
    right: 47%;
}

.hero .image6 {
    position: absolute;
    content: url("../img/decor/shipovnik.png");
    left: 0;
    bottom: 30%;
}

.hero .image7 {
    position: absolute;
    content: url("../img/decor/golubika.png");
    transform: scale(0.5);
    top: 26%;
    right: 45px;
}

.hero__inner {
    position: absolute;
    width: 1105px;
    height: 339px;
    z-index: 10;
}

.home__h1 {
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 86px;
    line-height: 110%;
    color: #1d1d1d;
    margin-bottom: 24px;
}

.hero__img {
    position: absolute;
    top: 0px;
    left: 546px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
}

.hero__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: var(--black);
    margin-bottom: 32px;
}

.hero__button {
    border-radius: 200px;
    padding: 14px 32px;
    width: 133px;
    height: 49px;
    background: var(--orange);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: var(--white);
}

.hero__button:hover {
    background: #ff9e35;
}

.wooman {
    height: 620px;
}


.wmn-text-1 {
    position: absolute;
    bottom: 33px;
    left: 124px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: var(--black);
}

.wmn-text-2 {
    position: absolute;
    bottom: 33px;
    right: 187px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: var(--black);
}

.wmn {
    position: relative;
    display: flex;
    gap: 16px;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.wmn-more {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s;
    pointer-events: none;
    width: 150px;
    height: 150px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    color: var(--white);
    opacity: 0;
    border-radius: 100%;
    background: #ff601c99;
    backdrop-filter: blur(10px);
}

.wmn:hover .wmn-more {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
}


.main__product {
    display: flex;
    gap: 24px;
}

.product {
    background: var(--white);
    border-radius: 16px;
    padding-top: 64px;
    height: 921px;
    overflow: hidden;
}


.product__inner {
    display: grid;
    grid-template-columns: 0.85fr 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 48px;
}

.product__title {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-left: 48px;
}

.product__text {
    grid-column: 2 / -1;
    grid-row: 1;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--black);
    margin-bottom: 24px;
    max-width: 642px;
}

.product__link {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 14px;
    grid-column: 2 / -1;
    grid-row: 2;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: var(--black);
}

.product__link:hover rect {
    fill: #ff9e35;
}



.product__card,
.swiper-slide {
    position: relative;
    border-radius: 20px;
    padding: 24px;
    max-width: 380px;
    height: 501px;
    background: var(--light-gray);
    z-index: 4;

}

.product__img {
    position: absolute;
    top: 20px;
    right: 20px;
}

.product__img:hover path {
    stroke: #ff9e35;
}

.img-cart-tea {
    position: relative;
    width: 332px;
    height: 300px;
    background: url("/img/Product/mango.png") no-repeat center center;
    z-index: 5;
}
.img-cart-tea:hover {
    background: url("/img/tea2.png") no-repeat center center;
}

.card__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: var(--black);
    margin-bottom: 24px;
}

.card__btn-buy {
    border-radius: 200px;
    padding: 14px 32px;
    width: 161px;
    height: 49px;
    background: var(--black);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--white);
}

.card__btn-buy:hover {
    background: var(--orange);
}

.card__btn-info {
    border: 0.50px solid var(--stroke);
    border-radius: 200px;
    padding: 14px 32px;
    width: 161px;
    height: 49px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--black);
}

.card__btn-info:hover {
    border: 0.50px solid var(--orange);
    color: var(--orange);
    background: var(--white);
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: var(--black);
    margin-bottom: 12px;
}

.swiper {
    margin-left: 48px;
}

.product__nav {
    display: flex;
    align-items: center;
    margin-top: 48px;
}

.product__scrollbar {
    border: 2px solid #f0f0f0;
    width: 1144px;
    height: 0px;
    margin-right: 24px;
}

.product__prev {
    border-radius: 120px;
    fill: var(--white);
    margin-right: 8px;
    width: 64px;
    height: 64px;
}



.product__next {
    border-radius: 120px;
    fill: var(--white);
    width: 64px;
    height: 64px;
}


.product__scroll-thumb {
    position: absolute;
    border: 2px solid var(--orange);
    width: 335px;
    height: 0px;
}

.about {
    height: 320px;
    background: var(--light-gray);
}

.about__inner {
    display: flex;
    gap: 16px;
}

.about__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;
    border-radius: 16px;
    padding: 48px 40px;
    width: 338px;
    height: 300px;
    background: var(--white);
}


.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    padding: 64px 48px;
    width: 1400px;
    height: 591px;
    background: var(--white);
    gap: 48px;
}


.testimonials__active-text {
    width: 1304px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: var(--grey);
    transition: color 0.5s linear;
}
.text-color-change {
    color: var(--orange);
}


.about-us__button {
    border: 0.50px solid var(--stroke);
    border-radius: 200px;
    padding: 14px 32px;
    background: var(--white);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--black);
}

.about-us__button:hover {
    border: 0.50px solid var(--orange);
    color: var(--orange);
}

.testimonials__img {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 550px;
    background: url(/img/content/image12.png);
    border-radius: 16px;
}

.testimonials__img img {
    border-radius: 16px;
    width: 1400px;
    height: 550px;

}

.testimonials__title {
    text-align: center;
    margin-bottom: 48px;
    background: var(--white);
}



.testimonials__slide {
    border: 1px solid rgba(155, 155, 155, 0.5);
    border-radius: 12px;
    padding: 32px 24px;
    width: 450px;
    height: 267px;

}

.testimonials-convert {
    height: 513px;
    border-radius: 16px;
    background: var(--white);
    padding: 64px 0px;
}

.swiper1 {
    overflow: hidden;
}

.testimonials__info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 210px;
    height: 56px;
    gap: 10px;
}

.testimonials__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: var(--black);
}

.testimonials__test {
    display: flex;
    flex-direction: column;
}

.testimonialst__location {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--stroke);
}

.testimonials__slider {
    height: 267px;
}


.subscribe__inner {
    display: flex;
    border-radius: 16px;
    padding: 48px;
    height: 546px;
    background: var(--orange);
}

.subscribe__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 628px;
    height: 328px;
    margin-top: 61px;
}

.subscribe__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: var(--white);
    width: 628px;
    height: 232px;
}

.subscribe__input {
    display: flex;
    border: 0.50px solid var(--light-gray);
    border-radius: 200px;
    padding: 6px;
    width: 350px;
    height: 48px;
    background: var(--black);
    gap: 5px;
}
.subscribe__input button{
background: transparent;
}

.subscribe__input input {
    width: 255px;
    height: 33px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #e9e9e9;
}

.subscribe__img {
    margin-left: 48px;
}







@media (max-width: 400px) {
    .container {
        padding: 8px 8px 0 8px;
    }

    .burger__menu {
        display: flex
    }

    .header__nav {
        display: none;
    }

    .header__nav {
        border-radius: 8px;
        padding: 16px;
        width: 359px;
        height: 72px;
    }

    .header__logo img {
        width: 40px;
        height: 40px;
    }

    .header__top {
        padding: 16px 16px;
    }

    .hero {
        padding: 62px 16px 290px 16px !important;
        width: 359px !important;
        height: 701px !important;
        margin-bottom: 16px !important;
    }

    .hero__inner {
        width: 327px !important;
        height: 276px !important;
    }

    .home__h1 {
        font-size: 48px !important;
        line-height: 110% !important;
    }

    .hero::before {
        display: none;
    }

    .hero::after {
        top: -65px !important;
    }

    .hero__img {
        top: 246px !important;
        right: -157px !important;
        transform: scale(0.9) !important;
        left: -303px !important;
    }

    .image1 {
        left: -30% !important;
        bottom: 13% !important;
    }

    .image2 {
        top: 2px !important;
        left: 41% !important;
        transform: scale(0.5);
    }

    .image3 {
        display: none;
    }

    .image4 {
        display: none;
    }

    .image5 {
        bottom: 43% !important;
        right: -3% !important;
    }

    .image6 {
        top: 0;
        left: 0;
    }

    .wooman {
        width: 375px !important;
        height: 648px !important;
    }

    .wmn {
        display: flex;
        flex-direction: column;
        gap: 8px !important;
        width: 375px !important;
        height: 648px !important;
    }

    .wmn-more {
        display: none;
    }

    .wmn img {
        border-radius: 16px;
        width: 359px;
        height: 312px;
    }

    .wmn-text-1 {
        bottom: 352px !important;
        left: 30px !important;
        font-size: 24px !important;
        line-height: 130% !important;
    }

    .wmn-text-2 {
        bottom: 33px !important;
        right: 97px !important;
        font-size: 24px !important;
        line-height: 130% !important;
    }

    .wmn-text-3 {
        display: none;
    }

    .swiper {
        margin-left: 0 !important;
    }

    .product {
        padding: 40px 16px !important;
        width: 359px !important;
        height: 883px !important;
    }

    .product__inner {
        display: flex !important;
        flex-direction: column !important;
    }

    .product__title {
        font-weight: 500 !important;
        font-size: 40px !important;
        line-height: 110% !important;
        margin-bottom: 24px;
    }

    .product__text {
        font-size: 16px;
        line-height: 130%;
    }

    .product__card {
        font-size: 16px !important;
        line-height: 130% !important;
        padding: 20px !important;
        height: 431px !important;
    }

    .product__card img {
        width: 270px;
        height: 242px;
    }

    .card__btn-info {
        width: 130px !important;
        height: 49px !important;
        padding: 0 !important;
    }

    .card__btn-buy {
        width: 130px !important;
        height: 49px !important;
        padding: 0 !important;
    }

    .about {
        height: 744px !important;
    }

    .about__inner {
        flex-direction: column;
    }

    .about__inner svg {
        width: 60px;
        height: 60px;
    }

    .about__img {
        padding: 24px 40px !important;
        width: 359px !important;
        height: 170px !important;
        gap: 14px !important;
    }

    .about-us {
        padding: 8px !important;
        width: 359px !important;
        height: 610px !important;
        gap: 24px !important;
    }

    .testimonials__logo svg {
        width: 92px;
        height: 92px;
    }

    .testimonials__active-text {
        font-size: 24px !important;
        line-height: 130% !important;
        width: 327px !important;
        height: 360px !important;
    }

    .highlight {
        color: var(--orange) !important;
    }

    .testimonials__img {
        background: url(/img/content/image12-mini.png) !important;
        width: 359px !important;
        height: 250px !important;
    }

    .testimonials__title {
        font-weight: 500 !important;
        font-size: 40px !important;
        line-height: 110% !important;
    }

    .testimonials__slide {
        align-items: center;
        padding: 32px 24px !important;
        max-width: 310px !important;
        min-height: 336px !important;
        height: 100% !important;
    }

    .testimonials__text {
        font-weight: 500 !important;
        font-size: 18px !important;
        line-height: 130% !important;
        width: 262px !important;
    }

    .testimonials__slider {
        height: 336px !important;
    }

    .testimonials-convert {
        padding-top: 24px !important;
    }

    .subscribe__inner {
        flex-direction: column;
        padding: 40px 16px !important;
        width: 359px !important;
        height: 714px !important;
    }

    .subscribe__title {
        margin-top: 0 !important;
    }

    .subscribe__text {
        font-weight: 500 !important;
        font-size: 40px !important;
        line-height: 110% !important;
        width: 327px !important;
        height: 264px !important;
        margin-bottom: 24px !important;
    }

    .subscribe__input {
        width: 327px !important;
    }

    .subscribe__input input {
        width: 230px !important;
    }

    .subscribe__img {
        margin-left: 0 !important;
        margin-top: 48px;
    }

    .subscribe__img img {
        border-radius: 16px !important;
        width: 327px !important;
        height: 250px !important;
    }


    .footer__inner {
        flex-direction: column !important;
        padding: 0px 8px 8px 8px !important;
        width: 359px !important;
        height: 474px !important;

    }

    .footer__logo {
        flex-direction: row !important;
        width: 311px !important;
        height: 74px !important;
        align-items: center;
        margin-bottom: 24px;
    }

    .footer__11 {
        flex-direction: column;
        width: 311px !important;
        height: 236px !important;
    }

    .footer__1 {
        width: 311px !important;
        height: 336px !important;
    }

    .footer__2 {
        flex-direction: column !important;
        gap: 16px !important;
    }
}